.popup-root {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 99999;
  font-size: 16px;
  font-family: serif;
  > * {
    pointer-events: all;
  }
}

.popup {
  border: grey 1px solid;
  background-color: white;
  z-index: 10;
  .popup-header {
    background-color: snow;
  }
}

.popup[tabindex] {
  outline: none;
}
.popup.focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.popup {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.4s;
}
