.tags .tag {
    user-select: none;
    background-color: aliceblue;
    display: inline-flex;
    justify-content: center;
    border: 1px solid #4b88b9;
    border-radius: 3px;
    margin-left: 2px;
    min-width: 38px;
    padding: 2px 2px 3px;
    margin-bottom: 2px;
}

.selected-tags {
    min-height: 33px;
}

.list-item-row .tags .add-tag {
    opacity: 0;
}
.list-item-row:hover .tags .add-tag {
    opacity: 1;
}

.tag-master {
    display: contents;
}
